<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/jquery.min.js"></script>
    <style type="text/css">
        .main {
            text-align:center;
            width:80%;
            margin-top:100px;
            margin-bottom:100px;
            margin-left:10%;
            margin-right:10%;
        }
    </style>
    <title>{{ .title }}</title>
</head>
<body>
    <div class="main">
        <h2>请登陆</h2>
        <p>{{ .msg }}</p>
        <form class="main">
            <input type="password" name='password' placeholder="Password" id="password">&nbsp;<input type="button" onclick="login()" value="登陆">
        </form>
    </div>

    <script type="text/javascript">
        function login() {
            $.ajax({
                type : "post",
                async : true,
                url : "/login",
                dataType : "json",
                contentType: "application/json;charset=utf-8",
                data : JSON.stringify({"password": $('#password').val()}),
                success : function(res) {
                    if (res.redirect) {
                        window.location.href = res.redirect;
                    }
                    if (res.msg) {
                        alert(res.msg);
                    }
                }
            });
        }
    </script>
</body>
</html>